*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
ul, li{
    list-style: none;
}

.wrap{
    width: 90vw;
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
}

/* 헤더 */
header{
    width: 100%;
    height: 10%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #888;
}
header> img{
    height: 80%;
    margin-right: 5%;
}
header> h1{
    font-size: 1.2em;
}

section{
    width: 100%;
    height: 90%;
    background: #2e7d86;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 60%;
    height: 20%;
    font-size: 1.2em;
    background: #9fddc4;
    border: none;
    box-shadow: 0 0 5px #555;
}
button> p{
    font-size: 0.5em;
    color:#888;
}
.questions, .result-view, #loading{
    display: none;
}

/* 설문 레이아웃 */
.questions{
    width: 80%;
    background: #fff;
    height: 90%;
    padding: 5%;
    font-size: 0.8em;
}
.questions> h2{
    height: 10%;
    display: flex;
    align-items: center;
}
.questions>p{
    font-size: 0.8em;
}
.grap{
    width: 100%;
    height: 3%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    overflow: hidden;
    transform: all 0.5s;
}
.grap> div{
    height: 100%;
    width: 0;
    background: #9fddc4;
    font-size: 0.4em;
    padding-right: 2%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.questions> .list{
    margin-top: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.questions> .list> li{
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px #ccc;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    padding: 3% 5%;
    transition: all 0.5ss;
}
.questions> .list> li:hover{
    background: #9fddc4;
}

/* 로딩페이지 */
#loading{
    width: 100%;
    height: 10%;
    font-size: 5em;
}

/* 결과 페이지 */
.result-view{
    width: 80%;
    height: 80%;
    text-align: center;
    color: #fff;
}
.result-view> h2{
    font-size: 1.2em;
    font-weight: 500;
}
.result-view> p{
    font-size: 2em;
    font-weight: 700;
    margin: 8% 0;
}
.result-view> div{
    width: 100%;
    height: 70%;
    overflow: scroll;
    scrollbar-width: none;
    font-size: 0.9em;
}
.result-view> div> h3{
    font-weight: normal;
    font-size: 1.2em;
}
.result-view> div> a{
    background: rgb(50, 230, 253);
    text-decoration: none;
    color: #fff;
    padding: 2% 5%;
    border-radius: 80px;
}
.result-view> div::-webkit-scrollbar {
    display: none;
}
.result-view> div> img{
    width: 100%;
    display: block;
}
.result-view> a{
    text-decoration: none;
    color: #fff;
    background: #3999a3;
    padding: 2% 5%;
    border-radius: 80px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (device-aspect-ratio:16/9){
    *{
        font-size: 1.1em;
    }

    section> button{
        width: 50%;
    }
    .grap{
        height: 5%;
    }
    .questions> .list{
        margin-top: 5%;
        padding: 1%;
        font-size: 0.8em;
    }
    .questions> .list> li{
        padding: 1.2%;
    }

    .result-view{
        height: 100%;
        margin-top: 3%;
    }
    .result-view> p{
        margin: 2%;
    }
    .result-view> div{
        height: 60%;
    }
    .result-view> div> img{
        width: 40%;
        display: inline-block;
        padding: 2%;
    }
    .result-view> div> a{
        font-size: 0.7em;
        padding: 1% 2%;
    }
    .result-view> a{
        font-size: 0.7em;
        padding: 1% 2%;
    }
}
